.productCard-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 250px;
    background-color: var(--white);
    padding: 1rem;
    column-gap: 2rem;
    margin-block-end: 1.5rem;
}

.imageContainer { 
    width: 313px;
}

.imageContainer img {
    max-width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.extraInfo {
    display: flex;
    column-gap: 8px;
    align-items: center;
}